{% extends "base.html" %}

{% block title %}Enron | Accueil{% endblock %}

{% block navbar %}
    {# Définir quelle page est active #}
    <li class="text-red-700">
        <a href="{% url 'accueil' %}">Accueil</a>
    </li>
    <li class="hover:text-red-700">
        <a href="{% url 'personnes' %}">Personnes</a>
    </li>
    <li class="hover:text-red-700">
        <a href="{% url 'mails' %}">Mails</a>
    </li>
    <li class="hover:text-red-700">
        <a href="{% url 'favoris' %}">Favoris</a>
    </li>
{% endblock %}

{% block content %}

{% if error == True %}
    <div class="container mx-auto px-3 py-6 grid gap-6 max-w-[1280px]">
        <div class="flex flex-col bg-white w-full p-2 sm:p-6 rounded-xl border-red-700 border-2 text-black">
            <span>
                Erreur, aucune donnée présente dans la base de données.
                <br><br>
                Veuillez vous assurer d'éxécuter le script de peuplement au moins 1 fois avant de consulter le site.
                <br>
                Pour cela, positionnez-vous à la racine du projet en ligne de commandes et tapez :
                <div class="flex flex-row justify-between items-center my-3 max-w-[500px] bg-gray-200 rounded-xl p-3">
                    <code id="cmd1">python manage.py settlement</code>
                    <i class="fa-regular fa-clone hover:cursor-pointer" id="icon-cmd1" onclick="copyToClipboard('cmd1')"></i>
                </div>
                Ou bien si vous voulez l'éxécuter sur un dossier de mails en particulier, tapez :
                <div class="flex flex-row justify-between items-center my-3 max-w-[500px] bg-gray-200 rounded-xl p-3">
                    <code id="cmd2">python manage.py settlement --folder nom-dossier</code>
                    <i class="fa-regular fa-clone hover:cursor-pointer" id="icon-cmd2" onclick="copyToClipboard('cmd2')"></i>
                </div>
            </span>
        </div>
    </div>
{% else %}

<div class="container mx-auto px-3 py-6 grid gap-6 max-w-[1280px]">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-3 lg:gap-5 w-full">
        <!-- COLONNE GAUCHE -->
        <div>
            <!-- Première ligne (stats principales) -->
            <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 gap-3 w-full text-center mb-3">
                <div class="flex flex-col items-center justify-between bg-white p-2 sm:p-4 rounded-xl border-gray-200 border-2">
                    <h3 class="mb-3 text-sm sm:text-base lg:text-lg">Nombre total de mails envoyés</h3>
                    <span class="text-red-700 font-bold text-lg sm:text-xl lg:text-2xl">{{email_count}}</span>
                </div>
                <div class="flex flex-col items-center justify-between bg-white p-2 sm:p-4 rounded-xl border-gray-200 border-2">
                    <h3 class="mb-3 text-sm sm:text-base lg:text-lg">Nombre total de personnes</h3>
                    <span class="text-red-700 font-bold text-lg sm:text-xl lg:text-2xl">{{people_count}}</span>
                </div>
                <div class="flex flex-col items-center justify-between bg-white p-2 sm:p-4 rounded-xl border-gray-200 border-2">
                    <h3 class="mb-3 text-sm sm:text-base lg:text-lg">Période couverte</h3>
                    <span class="text-red-700 font-bold text-lg sm:text-xl lg:text-2xl">{{covered_period}}</span>
                </div>
            </div>
            <!-- Deuxième ligne (Graphique) -->
            <div class="bg-white p-2 sm:p-4 rounded-xl border-gray-200 border-2 mb-3">
                <div class="relative">
                    <div class="absolute right-0 text-sm sm:text-sm lg:text-base">
                        <!-- Sélecteur d'année -->
                        <form method="get" action="{% url 'accueil' %}">
                            <select class="bg-red-100 px-2 py-1 font-bold text-red-700 rounded-xl hover:cursor-pointer" name="year" onchange="this.form.submit()">
                                {% for year in years_list %}
                                    <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
                <div class="flex flex-col items-center">
                    <h3 class="mb-2 text-base font-bold text-red-700 text-center sm:text-base lg:text-xl">{{ selected_year }}</h3>
                    <h3 class="mb-5 text-sm text-center sm:text-base lg:text-lg">Nombre de mails envoyés par mois</h3>
                    <!-- Conteneur du graphique -->
                    <div class="h-[300px] w-full">
                        <canvas id="mailChart"></canvas>
                    </div>
                </div>
            </div>
            <!-- Troisième ligne (le plus d'échanges avec externes) -->
            <div class="flex flex-col items-center bg-white p-2 sm:p-4 rounded-xl border-gray-200 border-2 lg:mb-3">
                    <h3 class="mb-5 text-sm text-center sm:text-base lg:text-lg">Le plus d'échanges avec des externes</h3>
                    <div class="grid grid-cols-3 sm:grid-cols-3 lg:grid-cols-3 gap-x-5 gap-y-1 text-xs text-center sm:text-sm lg:text-base">
                        <span class="mb-1 text-neutral-500">Personne</span>
                        <span class="mb-2 text-neutral-500">Pourcentage</span>
                        <span class="mb-2 text-neutral-500"></span>
                        
                        {% for employee in employees_with_most_exchanges %}
                            <!-- Affichage des informations pour chaque employé -->
                            <span class="mb-1">{{ employee.firstname }} {{ employee.lastname }}</span>
                            <span class="mb-2 text-red-700">({{ employee.percentage }}%) - {{ employee.interactions_count }}</span>
                            <div class="mb-3">
                                <a href="#" class="bg-red-100 text-red-700 font-bold px-3 py-1.5 rounded-xl hover:border">Ouvrir</a>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
        </div>

        <!-- COLONNE DROITE -->
        <div>
            <div class="flex flex-col">
                <!-- Première ligne (top 3 personnes) -->
                <div class="flex flex-col items-center bg-white p-2 sm:p-4 rounded-xl border-gray-200 border-2 mb-3">
                    <h3 class="mb-5 text-sm text-center sm:text-base lg:text-lg">Top 3 des emails les plus actifs</h3>
                    <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-x-5 gap-y-2 text-xs text-center sm:text-sm lg:text-base">
                    {% for entry in top3_people %}
                        <span class="mb-1">{{entry.email_address}}</span>
                        <div class="mb-2">
                            <a href="#"
                            class="bg-red-100 text-red-700 font-bold px-3 py-1.5 rounded-xl hover:border" 
                            data-name="{{ entry.person.firstname }} {{ entry.person.lastname }}"
                            data-category="{{ entry.person.category }}"
                            data-email="{{ entry.email_address }}"
                            data-firstname="{{ entry.person.firstname }}"
                            data-lastname="{{ entry.person.lastname }}"
                            data-id="{{ entry.person.id }}"
                            onclick="showInfo(event)">Ouvrir</a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <!-- Deuxième ligne (top 3 mots) -->
                <div class="flex flex-col items-center bg-white p-2 sm:p-4 rounded-xl border-gray-200 border-2 mb-3">
                    <h3 class="mb-5 text-sm text-center sm:text-base lg:text-lg">Top 3 des mots les plus récurrents</h3>
                    <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-x-14 gap-y-1 text-xs text-center sm:text-sm lg:text-base">
                        {% for word in top3_words %}
                            <span class="mb-1">{{word.word}}</span>
                            <span class="mb-2 text-red-700">{{word.count}} fois</span>
                        {% endfor %}
                    </div>
                </div>
                <!-- Troisième ligne (semaines avec le plus d'échanges) -->
                <div class="flex flex-col items-center bg-white p-2 sm:p-4 rounded-xl border-gray-200 border-2 mb-3">
                    <h3 class="mb-5 text-sm text-center sm:text-base lg:text-lg">Semaine avec le plus d'échanges</h3>
                    <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-x-5 gap-y-1 text-xs text-center sm:text-sm lg:text-base">
                        <span class="mb-1 text-neutral-500">Semaine</span>
                        <span class="mb-2 text-neutral-500">Mails</span>
                        <span class="mb-1">12/09/2010 - 19/09/2010</span>
                        <span class="mb-2 text-red-700">756</span>
                        <span class="mb-1">09/02/2013 - 16/02/2013</span>
                        <span class="mb-2 text-red-700">602</span>
                        <span class="mb-1">13/11/2015 - 20/11/2015</span>
                        <span class="mb-2 text-red-700">601</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %} 

<!-- Script pour le graphique -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Données pour le graphique (injectées depuis Django)
    const mailData = {{ mail_data|safe}};

</script>

{% endblock %}